.container{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
 
}
.menu-bar{
    width: 100%;
    height: auto;
    overflow: hidden;
    
}
.logo{
    width: 27%;
    height: auto;
    float: left;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    font-weight: 700;
    margin-left: 5%;
    margin-top: 10px;
}
.menu{
    width: 40%;
    height: auto;
    float: right;
    margin-top: 10px;
    margin-right: 10%;
    
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
    padding: 20px;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    
    text-transform: uppercase;
}
.menu ul li a:hover{
    background-color: whitesmoke;
    color: black;  
}