.container{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-image: url(wp10302006.png);
 
}
.menu-bar{
    width: 100%;
    height: auto;
    overflow: hidden;
    
}
.logo{
    width: 27%;
    height: auto;
    float: left;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
}
.menu{
    width: 40%;
    height: auto;
    float: right;
    margin-top: 30px;
    
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
    padding: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.menu ul li a:hover{
    background-image: linear-gradient(black, red, black);
    color: black;  
}